<section class="block block-three-column-1">
  <div class="container">
    <div class="row">
      <div class="col text">
        <h2><span class="light">{{ section.headline }}</span></h2>
        <p>{{ section.content | newline_to_br }}</p>
      </div>
    </div>

    <div class="container">
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide carousel-item-multi">
        <div class="carousel-indicators">
          {% for item in site.data.references.nodes %}
          {% if forloop.first %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.index }}"
            class="active" aria-current="true" aria-label="Slide {{ forloop.index }}"></button>
          {% else %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.index }}"
            aria-label="Slide {{ forloop.index }}"></button>
          {% endif %}
          {% endfor %}
        </div>

        <div class="carousel-inner container">
          {% for item in site.data.references.nodes %}
          {% if forloop.first %}
          <div class="carousel-item row active offset-md-2">
            {% else %}
            <div class="carousel-item row offset-md-2">
              {% endif %}
              <div class="carousel-inner-item col-md-3 text-center">
                <a href="{{ item.id }}" target="_blank"><b>{{ item.title }}</b></a>
                <p>Published in {{ item.publicationYear }}</p>
              </div>
            </div>
            {% endfor %}
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
</section>

<script>
  let items = document.querySelectorAll('.carousel .carousel-item')

  items.forEach((el) => {
    // number of slides per carousel-item
    const minPerSlide = 3
    let next = el.nextElementSibling
    for (var i = 1; i < minPerSlide; i++) {
      if (!next) {
        // wrap carousel by using first child
        next = items[0]
      }
      let cloneChild = next.cloneNode(true)
      el.appendChild(cloneChild.children[0])
      next = next.nextElementSibling
    }
  })
</script>