<section class="block block-three-column-1">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3>{{ section.col_1.headline }}</h3>
        <a class='kglink' href="{{ section.col_1.case | relative_url }}">{{ section.col_1.content }}</a>

      </div>
      <div class="column">
        <h3>{{ section.col_2.headline }}</h3>
        <a class='kglink' href="{{ section.col_2.case | relative_url }}">{{ section.col_2.content }}</a>

      </div>
      <div class="column">
        <h3>{{ section.col_3.headline }}</h3>
        <a class='kglink' href="{{ section.col_3.case | relative_url }}">{{ section.col_3.content }}</a>
      </div>            
    </div>
  </div>
</section>