<section class="">
  <div class="container">
    <div class="columns">
      <div class="row">
        <h2 id="{{section.slug}}"><span class="light">{{ section.headline }}</span></h2>
      </div>
        <div class="row">

        {% for reference_item in site.data.references.nodes %}
          <div class="col-lg-6 offset-lg-4 col-10">
            <h5 class="font-weight-bold"><a href="{{ reference_item.id }}">{{ reference_item.title }} </a></h5>
            <body>{{ reference_item.publicationYear  }}</body>
            <hr>
          </div>
          
        {% endfor %}
      </div>
  </div>
</section>


