<section class="block block-text-1">
  <div class="container">
    <div class="columns">
      <div class="column headline">
        <h2 id="{{section.slug}}"><strong>{{ section.headline }}</strong></h2>
      </div>
      <div class="column text">
        <ol>
          {% for reference_item in site.data.references.nodes %}
          <li><p><a href="{{ reference_item.id }}">{{ reference_item.title }} {{ reference_item.publicationYear }}</a></p></li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</section>