<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{ site.baseurl }}">
    <title>{% if page.title %}{{ page.title }} {% endif %}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/forestryio/ubuild-blocks@1.0.0/dist/css/ubuild.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{{ 'main.css' | absolute_url }}" rel="stylesheet" type="text/css">
    <meta name="og:title" content="Kristian Garza">
    <meta name="og:url" content="https://kjgarza.github.io/">
    <meta name="og:type" content="person">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "sameAs": [
          "https://www.linkedin.com/in/kjgarza",
          "https://commons.datacite.org/orcid.org/0000-0003-3484-6875",
          "https://orcid.org/0000-0003-3484-6875",
          "https://twitter.com/kriztean",
          "https://github.com/kjgarza"
        ],
        "email": "mailto:kj.garza@gmail.com",
        "image": "/uploads/2022/02/18/photo.jpeg",
        "jobTitle": "Product Design Manager",
        "name": "Kristian Garza",
        "url": "https://kjgarza.github.io/",
        "knowsLanguage": [
          {
            "@type": "Language",
            "name": "English"
          },
          {
            "@type": "Language",
            "name": "German"
          },
          {
            "@type": "Language",
            "name": "Spanish"
          }
        ],
        "knowsAbout": [
          "Web Development",
          "scrum",
          "agile",
          "software development",
          "software engineering",
          "data science",
          "data visualization",
          "data analysis",
          "data engineering",
          "usability testing",
          "user experience",
          "UX Researcher",
          "DevOps",
          "DesingOps",
          "Figma",
          "Miro",
          "Lego Serious Play",
          "Complex applications design",
          "contextual interviews",
          "contextual inquiry",
          "schema.org",
          "google analytics",
          "google tag manager",
          "react",
          "vue",
          "elasticsearch",
          "mysql",
          "Design sprints",
          "graphql",
          "event driven architecture",
          "microservices",
          "docker",
          "aws",
          "terraform",
          "javascript",
          "node",
          "python",
          "typescript",
          "Ruby",
          "Ruby on Rails",
          "Product Design",
          "User Experience",
          "User Interface",
          "User Interface Design",
          "User Interface Development",
          "design thinking",
          "design process",
          "double diamond method",
          "double diamond pattern",
          "open science",
          "open data",
          "open source software",
          "logstash",
          "Persistent Identifiers",
          "Persistent Identifier Systems",
          "DOI",
          "ORCID Identifiers",
          "ROR ID"
        ]
      }
      </script>
  </head>
  <body>

    <header class="block block-header-2">

      <div class="block-header-2--logo">
        <a href="{{ "/" | relative_url }}">
          <!-- <img src="{{ section.logo | relative_url }}" alt="{{ site.title }}"> -->
        </a>
      </div>
    
      <nav class="block-header-2--nav">
        {% case page.type %}
        {% when "design" %}
          {% assign navigation_menu = site.data.navigation.navigation-design %}
        {% else %}
          {% assign navigation_menu = site.data.navigation.navigation %}
        {% endcase %}
        <ul>
            {% for nav_item in navigation_menu %}
            <li class="nav-item {% if page.url == nav_item.link %}active{% endif %}"><a href="{{ nav_item.link | relative_url }}">{{ nav_item.link_text }}</a></li>
            {% endfor %}
        </ul>
        <a class="button primary medium block-header-2--cta" href="{{ site.data.navigation.cta.url }}">{{ site.data.navigation.cta.button_text }}</a>
      </nav>
    
    </header>
    