---
layout: layouts/cv.njk
permalink: /cv/
---
{% from "components/cv-sheet.njk" import renderCV %}
{% include "components/cv-toolbar.njk" %}

<div class="cv-page">
  {{ renderCV(cv) }}
</div>

<script>
  // Variants used to live at /cv/?v=<id>; send old links to their own pages
  (function() {
    var v = new URLSearchParams(location.search).get('v');
    if (v && v !== 'default' && /^[a-z0-9-]+$/.test(v)) location.replace('/cv/' + v + '/');
  })();
</script>
