---js
{
  pagination: {
    data: "collections.caseStudies",
    size: 1,
    alias: "study",
    // Password-protected case studies get no markdown mirror
    before: (paginationData) =>
      paginationData.filter((item) => !item.data.passwordProtected),
  },
  eleventyExcludeFromCollections: true,
  eleventyComputed: {
    permalink: (data) => `${data.study.url}index.md`,
  },
}
---
# {{ study.data.title }}

- Company: {{ study.data.company }}
- Tags: {{ study.data.tags | join(", ") }}
- Canonical URL: https://kjgarza.github.io{{ study.url }}
- Author: {{ site.title }} ({{ site.author.email }})

{{ study.rawInput | trim }}
